/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}


/* Prev and next icons look chane */
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23777' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23777' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* Carousel background color for when images have a different aspect ration
 than the carousel. */
.carousel_container {
    background-color: #00000011;
}

/* Makes carousel images always display with the appropriate aspect ratio.
Scales them down if needed. */
.carousel-inner img {
  top: 0;
  left: 0;
    object-fit: contain;
    max-height: 50vh;
  min-width: 100%;
  height: 500px;
  max-width: none;
}

/* Makes the carousel images always fit the window size in landscape ratio. */
@media screen and (orientation:landscape) {
    .carousel img {
        max-height: 100vh;
    }
}

/* Makes the carousel images always fit the window size in portrait ratio. */
@media screen and (orientation:portrait) {
    .carousel img {
        max-height: 100vh;
        object-fit: scale-down;
    }
}
