{% extends 'base.html' %}


{% block title %}Posts{% endblock %}


{% if g.user %}
  {% block navbar %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for('blog.create') }}">New Post</a></li>
  {% endblock %}
{% endif %}

{% block main %}

<!--{% for post in posts %} {{ post }} <br><br>{% endfor %}-->


{% for post in posts %}
  {{ post }}
<div class="card min-vw-10 max-vw-20">

    <div class="card-header">

      <div class="container text-center">
        <div class="row row-cols-2">
          <div class="col text-start">
            <b>{{ post['name'] }}</b>
          </div>
            <div class="col text-end">
              {{ post['datetime'].strftime('%Y-%m-%d') }}
            </div>
         </div>
      </div>
    </div>


<!--  <img src="static/images/2024_12/thumbnails/2020_03_01_08_47_12_tmb.jpg" class="card-img img-fluid" loading="lazy" alt="...">-->



  <div class="container text-center">
    <div class="row row-cols-2">
      {% for thumb in post['thumb'] %}
        <div class="col">
          <img src={{ thumb }} class="card-img-top img-fluid" loading="lazy" alt="...">
        </div>
      {% endfor %}
<!--      make thumbnails clickable and they open up a carousel of all the images-->
<!--      make last thumbnail display total number of imgs if more than 4-->
    </div>
  </div>

    <div class="card-body">
      <h4 class="card-title text-start">{{ post['title'] }}</h4>
<!--      <h6 class="card-subtitle mb-2 text-muted">Card Subtitle</h6>-->
      <p class="card-text text-start">{{ post['message'] }}</p>
<!--      <a href="#" class="btn btn-primary">Go somewhere</a>-->
      {% if g.user['id'] == post['user_id'] %}
        <a class="action" href="{{ url_for('blog.edit', post_id=post['id']) }}">Edit</a>
      {% endif %}
   </div>


  <div class="card-footer">
    <div id="location" class="container'fluid text-start">
      {% for loc in post['locations']['fn'] %}
        {% if loc %}
          <button class="btn btn-primary rounded-pill btn-info" type="button">{{ loc }}</button>
        {% endif %}
      {% endfor %}
      {% for loc in post['locations']['nfn'] %}
        {% if loc %}
          <button class="btn btn-primary rounded-pill btn-info" type="button">{{ loc }}</button>
        {% endif %}
      {% endfor %}
    </div>
    <div id="tags" class="container'fluid text-start mt-2">
      {% for tag in post['tags'] %}
        <button class="btn btn-primary rounded-pill btn-info" type="button">
          {{ tag }}</button>
      {% endfor %}
    </div>
  </div>

</div>

    {% if not loop.last %}
      <br><br>
    {% endif %}
  {% endfor %}

{% endblock %}