<!--Index with grid and carousel-->

{% extends 'base.html' %}


{% block title %}Posts{% endblock %}


{% if g.user %}
  {% block navbar %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for('blog.create') }}">New Post</a></li>
  {% endblock %}
{% endif %}

{% block main %}


  <div class="p-3 m-0 border-0 bd-example m-0 border-0 bd-example-flex">
    <div class="d-flex flex-column">
      {% for post_id, post in posts.items() %}
<!--        <div class="p-2">Flex item 1</div>-->
        <h1>{{ post['title'] }}</h1>

          {% set carousel_name = "carousel_{}".format(post['pid']) %}
          <div id={{  carousel_name }} class="carousel" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>

                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="/static/pictures/JKL/011.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/pictures/JKL/015.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/static/pictures/JKL/065.jpg" class="d-block w-100" alt="...">
                    </div>
                  </div>
              <button class="carousel-control-prev" type="button" data-bs-target={{'#' + carousel_name }} data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target={{'#' + carousel_name }} data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>


        <b>{{ post['name'] }} on {{ post['datetime'].strftime('%Y-%m-%d') }}</b>
        <p class="body">{{ post['message'] }}</p>

        </div>


  {% if not loop.last %}
    <hr>
  {% endif %}
  {% endfor %}












<!--  {% for post_id, post in posts.items() %}-->
<!--    <article class="post">-->
<!--      <header>-->
<!--        {{ post }}-->
<!--        {% for pict in post['picts'] %}-->
<!--          <div>-->
<!--            <a href=""><img src= {{ pict }} alt="HTML tutorial" style="width:42px;height:42px;"></a>-->
<!--          </div>-->
<!--        {% endfor %}-->
<!--        <div>-->
<!--          <h1>{{ post['title'] }}</h1>-->
<!--          <div class="about">by {{ post['name'] }} on {{ post['datetime'].strftime('%Y-%m-%d') }}</div>-->
<!--        </div>-->
<!--        {{ g.user['id'] }}-->
<!--        {{ post.keys(), post['pid'], post['title'], post['datetime'], post['uid'], post['name'] }}-->
<!--        {% if g.user['id'] == post['uid'] %}-->
<!--          <a class="action" href="{{ url_for('blog.update', id=post['pid']) }}">Edit</a>-->
<!--        {% endif %}-->
<!--      </header>-->
<!--      <p class="body">{{ post['message'] }}</p>-->
<!--    </article>-->
<!--    {% if not loop.last %}-->
<!--      <hr>-->
<!--    {% endif %}-->
<!--  {% endfor %}-->
{% endblock %}